<template lang='pug'>
.container
  .note
    p Note: some of these functions are finished after deadline, check repo for in-time implementation
    ul
      li features finished in-time: google login, all restaurant list, filter by name
      li features finished out-of-time: display current opening restaurants, date range filter
      li
        span frontend repo:
        a(href='https://bitbucket.org/alstontsao/avan-test-web/src/master/', target='_blank')  https://bitbucket.org/alstontsao/avan-test-web/src/master/
      li
        span api repo:
        a(href='https://bitbucket.org/alstontsao/avan-test-api/src/master/', target='_blank')  https://bitbucket.org/alstontsao/avan-test-api/src/master/

  hr

  div.user(v-if='selfUser.id')
    span
      img.avatar(:src='selfUser.avatarURL')
    span {{ selfUser.name }}(id: {{ selfUser.id }})
    span
      el-button(type='info', round, size='small').logout-button(@click='logout') Logout
  #google-signin-btn(v-show='!selfUser.id')

  hr

  h3 餐廳列表
  .filter
    .item
      span 現在營業中
      el-switch(v-model='filter.current')
    .item
      span 篩選日期時間
      el-date-picker(v-model='filter.dateTimeRange', type="datetimerange", placeholder="選擇日期時間", range-separator="至")
    .item
      span 搜尋
      input(v-model='filter.name', placeholder='名字')
  .restaurant-list
    el-table(:data = 'filteredRestaurants', style='width: 100%')
      el-table-column(type='index')
      el-table-column(property='name', label='名字')
      el-table-column(property='type', label='類型')
      el-table-column(property='rating', label='評分')
      el-table-column(property='star', label='米其林星')
      el-table-column(property='parking', label='停車位')
      el-table-column(property='deliver', label='外送')
      el-table-column(property='deposit', label='先收訂')

</template>

<script>
import moment from 'moment'

export default {
  name: 'Home',
  components: {
  },
  data () {
    return {
      restaurants: [],
      filter: {
        name: null,
        current: true,
        dateTimeRange: null
      }
    }
  },
  computed: {
    selfUser () {
      return this.$store.state.selfUser
    },
    filteredRestaurants () {
      const { name, current, dateTimeRange } = this.filter
      return this.restaurants
        .filter(e => name ? e.name.match(name) : e)
        .filter(e => {
          if (dateTimeRange) {
            const [start, end] = dateTimeRange
            const timeslot = this.getTimeSlotForDateRange(moment(start), moment(end))
            for (let i = 0; i < timeslot.length; i++) {
              if (timeslot[i] === '1') {
                if (e.openingHalfHours[i] !== '1') {
                  return false
                }
              }
            }
            return true
          } else if (current) {
            return this.isOpening(e.openingHalfHours, this.currentTimeSlot)
          } else {
            return e
          }
        })
    },
    currentTimeSlot () {
      return this.getTimeSlotForDate(moment())
    }
  },
  methods: {
    getTimeSlotIndexForDate (date) {
      const startOfWeek = date.clone().startOf('week')
      const index = Math.floor(date.diff(startOfWeek) / 1000 / 60 / 30)
      return index
    },
    getTimeSlotForDate (date) {
      let timeslot = Array(2 * 24 * 7).fill('0')
      const index = this.getTimeSlotIndexForDate(date)
      timeslot[index] = '1'
      timeslot = timeslot.join('')
      return timeslot
    },
    getTimeSlotForDateRange (start, end) {
      const length = 2 * 24 * 7
      const startIndex = this.getTimeSlotIndexForDate(start)
      const endIndex = this.getTimeSlotIndexForDate(end)
      let timeslot = Array(length).fill('0')
      for (let i = 0; i < length; i++) {
        if (i >= startIndex && i <= endIndex) timeslot[i] = '1'
      }
      timeslot = timeslot.join('')
      return timeslot
    },
    getDaySlotForDay (timeslot, day) {
      const date = moment().startOf('week').add(day, 'days')
      const index = this.getTimeSlotIndexForDate(date)
      return timeslot.substring(index, index + 48)
    },
    isOpening (openingHalfHours, timeslot) {
      if (openingHalfHours.length !== 336 || timeslot.length !== 336) {
        throw new Error('invalid openingHalfHours or timeslot')
      }
      for (let i = 0; i < openingHalfHours.length; i++) {
        if (openingHalfHours[i] === '1' && timeslot[i] === '1') return true
      }
      return false
    },
    async onSignIn (user) {
      const profile = user.getBasicProfile()
      console.log('ID: ' + profile.getId()) // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName())
      console.log('Image URL: ' + profile.getImageUrl())
      console.log('Email: ' + profile.getEmail()) // This is null if the 'email' scope is not present.
      try {
        const { data: { user } } = await this.$api.post('/user/google-login', {
          googleID: profile.getId(),
          name: profile.getName(),
          avatarURL: profile.getImageUrl(),
          email: profile.getEmail()
        })
        if (!user) {
          return
        }
        this.$store.commit('setSelfUser', user)
      } catch (e) {
        this.$errorHandler(e)
      }
    },
    async fetchRestaurants () {
      try {
        const { data } = await this.$api.get('/restaurant/list')
        this.restaurants = data
      } catch (e) {
        this.$errorHandler(e)
      }
    },
    logout () {
      this.$store.commit('reset')
    }
  },
  mounted () {
    window.home = this
    if (window.gapi) {
      window.gapi.signin2.render('google-signin-btn', {
        onsuccess: this.onSignIn
      })
    }
  },
  created () {
    this.fetchRestaurants()
  },
  watch: {
    'filter.dateTimeRange' (newValue, oldValue) {
      if (newValue != null) {
        this.filter.current = false
      }
    },
    'filter.current' (newValue, oldValue) {
      console.log(oldValue, newValue)
      if (newValue) {
        this.filter.dateTimeRange = null
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.container {
  padding-top: 20px;
}
.user {
  & > span {
    margin-right: 10px;
  }
  img.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid lightgrey;
  }
}

.filter {
  .item {
    span {
      margin-right: 10px;
    }
    margin-bottom: 20px;
  }
}
.note {
  padding: 1rem;
  background: #f4f4f5;
  border-radius: 10px;
  color: #909399;
  font-size: 0.8rem;
}
</style>
