<template lang='pug'>
  #app
    #nav
      //- router-link(to='/') Home
      //- span |
      //- router-link(to='/about') About
      //- span |
      //- router-link(to='/admin') Dashboard
    .container
      router-view
</template>

<style lang="scss">
  @import "../src/assets/sass/app";
</style>
<style lang="sass" scoped>

</style>
