@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

$roboto: 'Roboto', 微軟正黑體, Microsoft JhengHei, sans-serif;
$icon: 'FontAwesome';

$xxs: 479px;
$xs: 767px;
$sm: 992px;
$md: 1200px;

$blue: #3454f5;
$white: #fff;
$gray: #bfc4d8;
$black: $gray - #777;

$yellow: #d9c06c;
$red: #e1577b;
$orange: #DB7A4A;

$lightblue: #f4f7fe;

$ease: cubic-bezier(.85,.1,.15,1);

@mixin animate($where, $time, $ease){
	transition-property: $where;
	transition-duration: $time;
	transition-timing-function: $ease;
	-webkit-transition-property: $where;
	-webkit-transition-duration: $time;
	-webkit-transition-timing-function: $ease;
}

@mixin flex($wrap,$align,$justify,$direction){
	display: flex;
	flex-wrap: $wrap;
	align-items: $align;
	justify-content: $justify;
	flex-direction: $direction;
	display: -webkit-flex;
	-webkit-flex-wrap: $wrap;
	-webkit-align-items: $align;
	-webkit-justify-content: $justify;
	-webkit-flex-direction: $direction;
}

@mixin box{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}